html, body {
            height: 100%;
            width: 100%;
            overflow-x: hidden;
            display: flex;
            flex-direction: row;
        }

.sidebar {
    width: 250px;
    background-color: #7f8b6a;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: width 0.3s ease-in-out;
}
.sidebar h2, .sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 40px;
    border-bottom: 3px solid white;
    width: 100%;
}
.content {
    flex: 1;
    background-color: #7f8b6a;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.toggle-btn {
    position: absolute;
    top: 300px;
    right: -20px;
    width: 40px;
    height: 40px;
    background: white;
    
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
.collapsed .toggle-btn {
    transform: rotate(180deg);
}
.collapsed {
    width: 60px;
    padding: 0px;
}
.collapsed h2, .collapsed a {
    opacity: 0;
    pointer-events: none;
}
.collapsed .toggle-btn {
    right: -15px;
}
.content.expanded-content {
    margin-left: 60px;
}
.expanded-content {
    width: 100%;
}